.adlam-display-regular {
    font-family: "ADLaM Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  .sora {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }